button.like-btn {
    border: none;
    outline: none;
    float: right;
    margin-right: 60px;
    background: transparent;
}
button.like-btn i {
    padding-top: 10px;
    transition: 0.4s;
    color: red;
    font-size: 22px;
}
button.like-btn i:hover {
    transform: scale(1.1);
}