.nav-menu {
	padding: 18px 0;
}
.nav-menu li {
	float: left;
}
.nav-menu li:last-child {
	padding-right: 125px;
}
.nav-menu a {
	display: block;
	padding: 10px 20px;
	font-size: 19px;
	text-transform: uppercase;
	color: #fff;
}
.nav-menu li:hover {
    background-color: #000;
    transition: 0.3s;
}