.sidebar {
    
}
.sidebar-title {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 19px;
    text-transform: uppercase;
}
.sidebar-top-stories button {
    width: 100px;
    float: left;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
    outline: none;
    border: none;
}
.sidebar-top-stories button:last-child {
    width: 133px;
}
.widget-btn {
    position: relative;
}


.widget-btn-fashion-marked:after {
  content: '';
  position: absolute;
  top: 34px;
  left: 35px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ec098d;
}
.widget-btn-movie-marked:after {
    content: '';
    position: absolute;
    top: 34px;
    left: 134px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f78f1d;
  }
  .widget-btn-television-marked:after {
    content: '';
    position: absolute;
    top: 34px;
    right: 50px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #00aedb;
  }
 .sidebar-top-stories-items {
     margin-bottom: 15px;
 } 
.sidebar-top-stories-title a{
    display: block;
    font-size: 15px;
    color: #00aedb;
    font-weight: 900;
    padding-left: 15px;
    margin-bottom: 10px;
    line-height: 15px;
}
.sidebar-top-stories-description a{
    display: block;
    font-size: 13px;
    color: #898989;
    padding-left: 15px;
    line-height: 15px;
    cursor: default;
}
.sidebar-top-stories-title a:hover{
    color: #006bdb;
    transition: 0.3s;
    cursor: default;
}
.sidebar-top-stories-description a:hover {
    text-decoration: underline;
}
.sidebar-top-stories-img-wrap {
    width: 80px;
    height: 100px;
    overflow: hidden;
}
