.sidebar-also-like-img-wrap {
    width: 80px;
    overflow: hidden;
    margin-bottom: 15px;
}
.sidebar-also-like-item-title a {
    display: block;
    color: #898989;
    font-size: 13px;
    margin-left: 15px;
    line-height: 15px;
}
.sidebar-also-like-item-title a:hover {
    text-decoration: underline;
    transition: 0.3s;
}