.social-btn-wrap {
	float: right;
	padding-top: 9px;
}
.social-btn-style {
	width: 40px;
	height: 40px;
	padding: 5px;
	float: left;
	color: #fff;
	line-height: 40px;
	font-size: 28px;
	text-align: center;
}
.facebook {
	margin: 0 8px;
}