.posted-comments-title {
    width: 220px;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5261ac;
}
.posted-user-comment {
    margin-top: 25px;
}
.user-image {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    background-color: #ccc;
    float: right;
}
.user-name {
    font-size: 17px;
    color: #5261ac;
    text-transform: capitalize;
    float: left;
}
.posted-comment-date {
    margin-right: 28px;
    font-size: 13px;
    color: #888888;
    float: right;
}
.user-comment{
    margin-top: 10px;
    color: #888888;
    font-size: 14px;
    line-height: 20px;
}
.comment-bottom {
    margin-top: 10px;
}
.comment-line-decoration {
    width: 365px;
    height: 1px;
    background-color: #888888;
}
.comment-reply {
    position: relative;
    font-size: 15px;
    color: #5261ac;
    text-transform: capitalize;
    top: -10px;
}